<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Store</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/courses/add">New Course</a></li>
        <li><a href="/courses">Courses</a></li>
      </ul>
    </div>
  </nav>