<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Store</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        
        <% if(isAuth) { %>
        <li><a href="/courses/add">New Course</a></li>
        <% } %>  

        <li><a href="/courses">Courses</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if(isAuth) { %>
          <li><a href="/auth/logout">Log Out</a></li>
          <% } else { %>
          <li><a href="/auth#login">Sign In</a></li>
          <% } %> 
      </ul>
    </div>
  </nav>