<nav>
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <a href="/" class="brand-logo center">Store</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        
        <% if(isAuth) { %>
        <li><a href="/cart" class="yellow darken-2 waves-effect waves-light btn">
          <i class="material-icons">shopping_cart</i>
        </a></li>

        <li><a href="/orders">My Orders</a></li>

        <li><a href="/courses/add">New Course</a></li>
        <% } %>  

        <li><a href="/courses">Courses</a></li>

      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if(isAuth) { %>
        <li><a href="/auth/logout">Log Out</a></li>
        <% } else { %>
        <li><a href="/auth#login">Sign In</a></li>
        <% } %> 
      </ul>
    </div>
  </nav>

  <ul id="mobile-demo" class="sidenav">
        
    <% if(isAuth) { %>
    <li><a href="/cart" class="yellow darken-2 waves-effect waves-light btn">
      <i class="material-icons">shopping_cart</i>
    </a></li>
    <li><a href="/orders">My Orders</a></li>
    <li><a href="/courses/add">New Course</a></li>
    <% } %>  

    <li><a href="/courses">Courses</a></li>

    <% if(isAuth) { %>
    <li><a href="/auth/logout">Log Out</a></li>
    <% } else { %>
    <li><a href="/auth#login">Sign In</a></li>
    <% } %> 

  </ul>